body  {
  -webkit-background-size: cover;
  -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  background-color: #cccccc;
  background: linear-gradient(141deg, #FFD500 0%, #FF8C19 30%, #AA00CC 85%);
}

#khusus{
  height: 75%;
  width: 50%;
}

#middle{	
	background-color:#404040;
	position: relative;
	padding-top: 20px;
	border-radius: 20px;
	color: white;
	margin-bottom: 20px;
	display: inline-block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#404040;
  color: white;
  text-align: center;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}