body{
	background: url(Foto/Warehouse2.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
      background-size: cover;
}

#top{
	margin: 80px 0px;
	background-color:#1f2d2d;
	width: 400px;
	height: 400px;
	padding-top: 20px;
	border-radius: 20px;
	box-shadow: 10px 10px grey;
}

#salam{
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
	margin-top: 20px;
}

#checker{
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 16px;
	margin-top: 20px;
}

.inpt{
	border: none;
	border-bottom: 2px solid firebrick;
	height: 40px;
	width: 300px;
	background-color: #1f2d2d;
	margin-top: 20px;
	font-family: 'Indie Flower', cursive;	
}

#submitbtn{
	width: 300px;
	margin-top: 20px;
	border-radius: 10px;
	border : none;
	background-color: white;
	color: maroon;
	font-family: 'Indie Flower', cursive;	
}

#remember{
	margin-top: 20px;	
}

#rmb{
	font-family: 'Indie Flower', cursive;	
	color: white;
}

#forgot:link{
	text-decoration: none;
	color: white;
	font-family: 'Indie Flower', cursive;	
}

#forgot:visited{
	text-decoration: none;
	color: white;
	font-family: 'Indie Flower', cursive;	
}

#forgot:hover{
	color: coral;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f2d2d;
    color: white;
    text-align: center;
}